page-edit-profile {
    .profile-picture {
        position: relative;
    
        .profile-picture__icon {
          border-radius: 50%;
         background: transparentize(color($colors, dark), 0.1);
          color: color($colors, light);
          font-size: 2rem;
    
          position: absolute;
          left:55%;
          top: 70%;
          width: 32px;
          height: 32px;
          padding-top: 6px;
        }
    
        .profile-picture__image {
          border-radius: 50%;
          height: 128px;
          width: 128px;
        }
      }
      .backColor{
        background-color: rgb(245, 241, 248);
      }
}
