
<ion-header>

  <ion-navbar>
    <ion-title>editProfile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backColor">
  <ion-list>


    <section text-center class="profile-picture">
      <span class="profile-picture__icon">
        <ion-icon name="ios-camera" md="md-camera" (click)="selectImage()"></ion-icon>
      </span>
      <img *ngIf="imageURL" [src]="imageURL" class="profile-picture__image" alt="Profile Picture">
      <img *ngIf="!imageURL" [src]="'assets/imgs/3.jpg'" class="profile-picture__image" alt="Profile Picture">
    </section>

    <ion-item class="backColor"> 
      
      <ion-label floating >Firstname</ion-label>
      <ion-input type="text" [(ngModel)]="user_firstName"></ion-input>
    </ion-item>
  
    <ion-item class="backColor">
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="user_lastName"></ion-input>
    </ion-item>
    <ion-item class="backColor" > 
      
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="user_email"></ion-input>
    </ion-item>
  
    <ion-item class="backColor">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="user_password"></ion-input>
    </ion-item>
    <ion-item class="backColor">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="user_Confirmpassword"></ion-input>
    </ion-item>
  
  </ion-list>

<ion-grid>
    <ion-row style="padding:5px">

        <button ion-button dark block  style="width:40%;margin-left: 100px" (click)=saveChanges()>Save Changes</button>

    </ion-row>
  </ion-grid> 
</ion-content>
