
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="backColor">
    <ion-item no-lines style="margin-bottom: 30px" class="backColor">
        <ion-avatar item-start>
          <img src= {{mypic}} style="min-height: 80px;min-width: 80px;"/>
        </ion-avatar>
        <h2 style="font-weight: bold;font-size: 20px">{{myname}}</h2>
        <p (click)=openUserProfilePage()>View Profile</p>
      </ion-item>

    <div >
        <ion-segment class="s1" [(ngModel)]="abc">
     <ion-segment-button  value="one" >
       Upcoming
     </ion-segment-button>
     <ion-segment-button  value="two">
       Going
     </ion-segment-button>
 

        </ion-segment>
     </div>

     <div [ngSwitch]="abc">
        <ion-list *ngSwitchCase="'one'" >
    <ion-item class="backColor" *ngFor="let timg of TrendImg; let i = index;" (click)="openEventProfilePage(TrendId[i])">
      <ion-thumbnail item-start>
        <img src= {{timg}}>
      </ion-thumbnail>
      <h2>{{TrendName[i]}}</h2> 
    </ion-item>  
  </ion-list>

  <ion-list *ngSwitchCase="'two'">
    <ion-item class="backColor" *ngFor="let goingimg of GoingEventImg; let i = index;" (click)="openEventProfilePage(GoingEventId[i])">
      <ion-thumbnail item-start>
        <img src= {{goingimg}}>
      </ion-thumbnail>
      <h2>{{GoingEventName[i]}}</h2>
    </ion-item>
  </ion-list>

       
     </div>

</ion-content>
