page-select-categories {
  
    .image-container{
      background-size:cover;
      min-height:140px;
      border-radius: 5%;
    
    }
  
    .selected{
      opacity:0.5;
      color:#996;
      
    }
}
