page-user-profile {
    .image-container{
        background-size:cover;
        min-height:100px;
        border-radius: 50%;
      
      }
   .makeBold{
       font-size: 15px;
       font-weight: bolder;
   }
   .backColor{
    background-color: rgb(245, 241, 248);
  }
    .space{
        margin-right: 15px;
        font-weight: bold;
    }
}
