page-search {
    .imgstyle{
        background-size: cover;
        height:70px;
        width:70px;
        float: left;
     
        border: 3px;
      border-radius: 5%;
      border-style: solid;
      border-color: black;
    }
    .backColor{
        background-color: rgb(245, 241, 248);
      }
}
