<ion-header>

  <ion-navbar>
    <ion-title>Explore</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openUserProfilePage()" >
         <ion-avatar >
        <img src="assets/imgs/aa.jpg" style="height: 30px; width: 30px;border-radius:50%">
      </ion-avatar>
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: rgb(245, 241, 248)">

        <ion-grid>

            <ion-row>
                <ion-col ><button ion-button outline round icon-right style="width: 140px;" (click)="openModal()">{{cityName}}<ion-icon name="md-create"></ion-icon></button></ion-col>
               <ion-col ><button ion-button outline round icon-right style="width: 140px;" (click)="presentEventPopover($event)"> {{eventName}}<ion-icon  name="md-arrow-dropdown"></ion-icon></button></ion-col>
               <!-- <ion-col ><button ion-button outline round icon-right style="width: 140px;" (click)="presentDatePopover($event)"> {{dateName}}<ion-icon name="md-arrow-dropdown"></ion-icon></button></ion-col> -->
               <ion-col  ><button ion-button outline round icon-right style="width: 140px;margin-left: 84px;" (click)="search($event)">{{Search}}</button></ion-col>
            </ion-row>
            </ion-grid>
            
            
<ion-item style="padding: 10px;font-size: 20px">

  Trending Events in {{cityName}}
  <div style="height: 170px">
    <ion-slides class="image-slider" loop="false" slidesPerView="1.5">

     

      <ion-slide *ngFor="let eimage of eventTrendImg; let i=index">
        <ion-card style="height: 120px;">
        <img src= {{eimage}} (click)="openEventProfilePage(eventTrendId[i])" class="thumb-img"/>

       <h2>{{eventTrendName[i]}}</h2> 
      </ion-card>
      </ion-slide>



    </ion-slides>
  </div>
</ion-item>



<ion-item style="padding: 10px;font-size: 20px">

  Business Events in {{cityName}}
  <div>
    <ion-slides class="image-slider" loop="false" slidesPerView="2">
      <ion-slide *ngFor="let eimage of businessTrendImg; let i=index">
        <img src= {{eimage}} (click)="openEventProfilePage(businessTrendId[i])" class="thumb-img"/>
        <h2>{{businessTrendName[i]}}</h2>
      </ion-slide>
    </ion-slides>
  </div>
</ion-item>



<ion-item style="padding: 10px;font-size: 20px">
  Sports Events in {{cityName}}
  <div>
    <ion-slides class="image-slider" loop="false" slidesPerView="2">
      <ion-slide *ngFor="let simage of sportsTrendImg; let i=index">
        <img src= {{simage}} (click)="openEventProfilePage(sportsTrendId[i])" class="thumb-img"/>
        <h2>{{sportsTrendName[i]}}</h2>
      </ion-slide>
    </ion-slides>
  </div>
</ion-item>

<ion-item style="padding: 10px;font-size: 20px">
  Exhibitions in {{cityName}}

  <div>
    <ion-slides class="image-slider" loop="false" slidesPerView="2">
      <ion-slide *ngFor="let eximage of exhibitionsTrendImg; let i=index">
        <img src= {{eximage}} (click)="openEventProfilePage(exhibitionsTrendId[i])" class="thumb-img"/>
        <h2>{{exhibitionsTrendName[i]}}</h2>
      </ion-slide>
      
    </ion-slides>
  </div>
</ion-item> 


</ion-content>
