page-event-profile {
    .eventStyle{
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sizing{
        height: 230px;
    }
    .backColor{
        background-color: rgb(245, 241, 248);
      }
}
