
<ion-header>

  <ion-navbar>
    <ion-title>event-profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="background-image: url('{{currEvent.Pic}}')" class="eventStyle">
     <h2 style="text-align: center; padding: 10px;">{{currEvent.Name}}</h2>
    </div>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <h3>Location</h3>
          <p>{{currEventDetail.Location}},{{currEvent.City}},{{currEventDetail.State}}</p>
        </ion-col>
        <ion-col col-6>
          <h3>Date</h3>
          <p>{{currEvent.Dated}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
    <h4 *ngIf = "interested">
      Are you attending ?
      <button ion-button color="light" (click)="goInEvent()">Yes</button>
    <!-- <button ion-button color="light">May Be</button> -->
    </h4>
    <h4 *ngIf = "!interested">
      You are going.
    </h4>
    <ion-card>
        <ion-card-header>
          {{currEvent.PeopleGoing}}
        </ion-card-header>
        <ion-card-content>
    
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
           Event Details
          <ion-icon item-left name="arrow-forward" (click)="toggleSection()" *ngIf="!more" style="float: right;"></ion-icon> 
            <ion-icon item-left name="arrow-down"(click)="toggleSection()"  *ngIf="more" style="float: right;"></ion-icon>
        </ion-card-header>
        <ion-card-content>
           jfkdjfie  kdjfilril  iurjekjflksdfjdl    
          <p *ngIf="!more">
             lsdlks   dflkj  jdklfjdkjf dklsjklsj dskllsjfd kldkjff jdklsj lsdjd 
          </p>
         </ion-card-content>
    </ion-card>

    <ion-item>
      <button ion-button clear style="width:100%" (click) ="openMap1Page()">Map1 Page</button>
        </ion-item>
        <ion-item>
          <button ion-button clear style="width:100%" (click) ="openMap3Page()">Map3 Page</button>
            </ion-item>
        


    <ion-card>
        <ion-card-header>
           Venue
        </ion-card-header>
        <ion-card-content>
           {{currEventDetail.Location}}
         </ion-card-content>
    </ion-card>
    <ion-item>
        <h2>Created By</h2>
        <p>{{currEventDetail.CreatedBy}}</p>
    </ion-item>
    
      
</ion-content>
